.slide.cover
  div section
    background-color: #fff
  header
    h2
      color: #000
      text-align: center
      font-size: 70px

body .slide section:before
  position:absolute
  top: 30px
  right: -80px
  width: 220px
  height: 220px
  background: url(/pictures/pebbles.jpg) no-repeat !important
  background-size: 50% !important
  content: ''

.full .progress div
  opacity: 0.4

.code-small code
  font-size: 9px

.code-medium code
  font-size: 12px

.slide .highlight pre
  white-space: pre
  padding: 8px
  margin: 5px

a.button
  background-color: green
  text-decoration: none
  color: #fff !important
  font-size: 15px
  padding: 4px
  -webkit-border-radius: 4px