- content_for :javascript do
  %script(src="/js/frontend.js" async)

- content_for :css do
  %link(href="/twitter-bootstrap.css" rel="stylesheet" type="text/css")
  %link(href="#{stylesheet_path("frontend")}" rel="stylesheet" type="text/css")


%header.caption
  %h1 Pebbles in the front
  %p Bjørge Næss, Bengler

= slidedown(source)
