!!! 5
%html(lang='no')
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    = yield_content :javascript

    %link(rel="shortcut icon" href="/favicon.ico")

    %link(href="#{stylesheet_path("custom")}" rel="stylesheet" type="text/css")
    %link(href="/themes/pygments/manni.css" rel="stylesheet" type="text/css")

    <meta name="viewport" content="width=1274, user-scalable=no">
    <link rel="stylesheet" href="/themes/ribbon/styles/style.css">
    <link rel="stylesheet" href="/themes/ribbon/styles/print.css" media="print">

    %title Presentation

  %body.list
    = yield
    .progress
      %div
